<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MoveCloser_Paynow>
            <version>1.1.4</version>
        </MoveCloser_Paynow>
    </modules>
    <global>
        <fieldsets>
            <paynow_payment_method>
                <methodId>
                    <to_order_payment>*</to_order_payment>
                </methodId>
                <methodName>
                    <to_order_payment>*</to_order_payment>
                </methodName>
            </paynow_payment_method>
        </fieldsets>
        <blocks>
            <paynow>
                <class>MoveCloser_Paynow_Block</class>
            </paynow>
            <checkout>
                <rewrite>
                    <onepage_failure>MoveCloser_Paynow_Block_Onepage_Failure</onepage_failure>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <paynow>
                <class>MoveCloser_Paynow_Model</class>
            </paynow>
        </models>
        <payment>
            <groups>
                <paynow>Paynow</paynow>
            </groups>
        </payment>
    </global>
    <default>
        <payment>
            <paynow>
                <active>0</active>
                <model>paynow/payment</model>
                <order_status>pending</order_status>
                <send_cart>0</send_cart>
                <use_sandbox>0</use_sandbox>
                <level_0>0</level_0>
                <expires>0</expires>
            </paynow>
        </payment>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paynow>
                                            <title>Paynow Configuration</title>
                                        </paynow>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MoveCloser_Paynow>
                    <files>
                        <additional_file>MoveCloser_Paynow.csv</additional_file>
                    </files>
                </MoveCloser_Paynow>
            </modules>
        </translate>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <paynow>
                        <type>singleton</type>
                        <class>paynow/observer</class>
                        <method>handle_adminLoginAfter</method>
                    </paynow>
                </observers>
            </admin_session_user_login_success>
            <admin_system_config_changed_section_payment>
                <observers>
                    <paynow>
                        <type>singleton</type>
                        <class>paynow/observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </paynow>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <paynow>
                <use>standard</use>
                <args>
                    <module>MoveCloser_Paynow</module>
                    <frontName>paynow</frontName>
                </args>
            </paynow>
        </routers>
        <translate>
            <modules>
                <MoveCloser_Paynow>
                    <files>
                        <default>MoveCloser_Paynow.csv</default>
                    </files>
                </MoveCloser_Paynow>
            </modules>
        </translate>
    </frontend>
</config>